<div class="game">
  <div class="info">
    <div *ngIf="game.ready$ | async">
      <div>{{ game.lastError }}</div>
    </div>
    <div>
      <div>Time = {{ game.player.time }}</div>
      <div>
        State = {{ game.player.state.key }}
        {{ setValues(game.player.state.thingsOrPersons) | json }}
      </div>
      <div>Weight = {{ game.player.weight }}</div>
      <div>Inventory = {{ setValues(game.player.Inventory) | json }}</div>
    </div>
    <button (click)="settings.game = undefined">
      leave {{ settings.game }}
    </button>
  </div>
  <div *ngIf="game.player" class="output" #game>{{ output }}</div>
  <input
    type="text"
    value=""
    (change)="onEnter($event)"
    [disabled]="game.player.dead"
  />
</div>
