<div class="game">
  <div class="info">
    @if(game.ready$ | async){
    <div>
      <div>{{ game.lastError }}</div>
    </div>
    } @if(settings.debug){
    <div>
      <div>Time = {{ game.player.time.toString() }}</div>
      <div>
        State = {{ game.player.room.key }}
        {{
          setValues(game.player.carriedObjects.children(game.player.room))
            | json
        }}
      </div>
      <div>
        Exits =
        {{ mapKeys(game.player.room.exits) | json }}
      </div>
      <div>Inventory = {{ setValues(game.player.inventory) | json }}</div>
      <div>
        Inventory Weight = {{ game.player.carry.toString() }} out of
        {{ game.player.strength.toString() }}
      </div>
    </div>
    }
    <div class="actions">
      <button mat-raised-button (click)="game.help()">Hilfe anzeigen</button>
      <button mat-raised-button (click)="clearOutput()">Ausgabe löschen</button>
      <button
        mat-raised-button
        color="warn"
        (click)="save()"
        [disabled]="game.player.dead"
      >
        Speichern
      </button>
      <button mat-raised-button color="warn" (click)="load()">Laden</button>
      @if(settings.developer){<mat-slide-toggle
        [(ngModel)]="settings.debug"
        (ngModelChange)="scrollToEnd()"
        >Debug Daten anzeigen</mat-slide-toggle
      >}
    </div>
  </div>
  @if(game.player){
  <div class="output" #output [ngClass]="{ debug: settings.debug }"></div>
  }
  <input
    type="text"
    value=""
    (change)="onEnter($event)"
    [disabled]="game.player.dead"
    #input
  />
</div>
