<div class="game">
  <div class="info">
    <div *ngIf="game.ready$ | async">
      <div>{{ game.lastError }}</div>
    </div>
    <div *ngIf="showDebug">
      <div>Time = {{ game.player.time.toString() }}</div>
      <div>
        State = {{ game.player.state.key }}
        {{
          setValues(game.player.carriedObjects.children(game.player.state))
            | json
        }}
      </div>
      <div>
        Exits =
        {{ mapKeys(game.player.state.exits) | json }}
      </div>
      <div>Weight = {{ game.player.weight.toString() }}</div>
      <div>Inventory = {{ setValues(game.player.inventory) | json }}</div>
    </div>
    <div class="actions">
      <button mat-raised-button (click)="game.help()">Hilfe anzeigen</button>
      <button mat-raised-button (click)="clearOutput()">Ausgabe löschen</button>
      <button
        mat-raised-button
        color="warn"
        (click)="game.save()"
        [disabled]="game.player.dead"
      >
        Speichern
      </button>
      <button mat-raised-button color="warn" (click)="load()">Laden</button>
      <mat-slide-toggle [(ngModel)]="showDebug" (ngModelChange)="scrollToEnd()"
        >Debug Daten anzeigen</mat-slide-toggle
      >
    </div>
  </div>
  <div
    *ngIf="game.player"
    class="output"
    #game
    [ngClass]="{ debug: showDebug }"
  ></div>
  <input
    type="text"
    value=""
    (change)="onEnter($event)"
    [disabled]="game.player.dead"
  />
</div>
