.welcome {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-repeat: no-repeat;
  background-size: cover;

  > .games {
    display: grid;
    grid-auto-flow: row;
    justify-content: flex-start;
    row-gap: 0.5em;

    > .ROAR,
    > .REV,
    > .b5 {
      opacity: 0.5;
    }
  }
}
