<div class="root">
  <app-game-selector></app-game-selector>
  <div class="actions">
    <div>
      <button
        mat-raised-button
        [disabled]="messages.parsing$ | async"
        (click)="messages.parse()"
      >
        Parse Messages
      </button>
      <span>{{ messages.lastError }}</span>
    </div>
    <div>
      <button
        mat-raised-button
        [disabled]="words.parsing"
        (click)="words.parse()"
      >
        Parse Words
      </button>
      <span>{{ words.lastError }}</span>
    </div>
    <div>
      <button
        mat-raised-button
        [disabled]="objects.parsing"
        (click)="objects.parse()"
      >
        Parse Objects
      </button>
      <span>{{ objects.lastError }}</span>
    </div>
    <div>
      <button
        mat-raised-button
        [disabled]="states.parsing"
        (click)="states.parse()"
      >
        Parse States
      </button>
      <span>{{ states.lastError }}</span>
    </div>
    <div>
      <button
        mat-raised-button
        [disabled]="defaults.parsing"
        (click)="defaults.parse()"
      >
        Parse Defaults
      </button>
      <span>{{ defaults.lastError }}</span>
    </div>
  </div>
  <div class="preview">
    <pre>{{ null | json }}</pre>
  </div>
  <router-outlet />
</div>
